<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.sportslover">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- BmobSDK权限 -->
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 推送权限 -->
    <!-- 允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许接收屏幕解锁广播 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 允许接收开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 其他权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="e3r1MDaNfYdR11hKwSSXFtCI8gsyGjMz" />

        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WeatherActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="SportsLover.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="6" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.user.sportslover.bean.UserLocal" />

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.RouteActivity" />
        <activity android:name=".activity.MyDynamicActivity" />
        <activity android:name=".activity.MotionRecordActivity" />
        <activity android:name=".activity.SendDynamicActivity" />
        <activity android:name=".activity.DynamicDetailActivity" />
        <activity android:name=".activity.NewFriendActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.BeginSportActivity" />
        <activity android:name=".activity.MotionGoalActivity" />
        <activity android:name=".activity.PhoneValidateActivity" />
        <activity android:name=".activity.MakeGoal" />
        <activity android:name=".activity.PersonalDataActivity" />

        <service
            android:name=".service.SportTrackService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.SetSportTargetActivity" />
        <activity android:name=".activity.FinishSportActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.SendDynamicActivity2" />
        <activity android:name=".activity.PrivacyActivity" />
        <activity android:name=".activity.AccountManagement" />
        <activity android:name=".activity.SportsSettings"></activity>
    </application>

</manifest>